[user]
	name = Daisuke Fujita
	email = dtanshi45@gmail.com
	signingkey = D6D4251A62980519
[color]
	ui = true
	diff = true
[alias]
	br = branch
	co = checkout
	lg = log --graph  --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %C(white)(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --branches
	ls = ls-files
	df = diff
	cdf = diff --cached
	st = status --short --branch
	cm = commit -m
	cam = commit --amend -m
	can = commit --amend --no-edit
	cem = commit --allow-empty -m
	ignore = !"gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
	delete-merged-branches = !git checkout master && git branch --merged | grep -v \\* | xargs -I % git branch -d %
	ploc = !git pull origin $(git rev-parse --abbrev-ref HEAD)
	plom = !~/src/github.com/dtan4/dotfiles/git-scripts/git-with-default-branch.sh pull master
	puoc = !git push -u origin $(git rev-parse --abbrev-ref HEAD)
	pudc = !git push dtan4 $(git rev-parse --abbrev-ref HEAD)
	pudm = !~/src/github.com/dtan4/dotfiles/git-scripts/git-with-default-branch.sh push dtan4
	puom = !~/src/github.com/dtan4/dotfiles/git-scripts/git-with-default-branch.sh push origin
	phom = !~/src/github.com/dtan4/dotfiles/git-scripts/git-with-default-branch.sh push heroku
	# pr = gh pr create -w
[include]
	path = ~/.gitconfig.local
[help]
	autocorrect = 5
[core]
	editor = vim
	autocrlf = input
	quotepath = false
	excludesfile = ~/.gitignore
[ghq]
	root = ~/src
[ghq "https://github.com/"]
	vcs = git
[url "git@github.com:"]
	insteadOf = https://github.com/
[diff]
	renames = true
[github]
	user = dtan4
[commit]
	gpgsign = true
[pull]
	ff = only
[init]
	defaultBranch = main
