[user]
	name = Daisuke FUJITA
	email = dtanshi45@gmail.com
[color]
	ui = true
	diff = true
[alias]
	br = branch
	co = checkout
	gp = grep --color=auto -n
	lg = log --graph  --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %C(white)(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --branches
	df = diff
	cdf = diff --cached
	st = status --short --branch
	cm = commit -m
	cam = commit --amend -m
	can = commit --amend --no-edit
	ignore = !"gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
	delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
	plom = pull origin master
	puom = push -u origin master
	phom = push heroku master
[include]
	path = ~/.gitconfig.local
[help]
	autocorrect = 5
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[core]
	editor = vim
	autocrlf = input
	quotepath = false
	excludesfile = ~/.gitignore
[ghq]
	root = ~/.ghq
	root = ~/git
	root = ~/.go/src
[ghq "https://github.com/"]
	vcs = git
[url "git@github.com:dtan4"]
	pushInsteadOf = https://github.com/dtan4
[diff]
	renames = true
