[user]
	name = Daisuke Fujita
	email = dtanshi45@gmail.com
	signingkey = D6D4251A62980519
[color]
	ui = true
	diff = true
[alias]
	br = branch
	cb = rev-parse --abbrev-ref HEAD
	co = checkout
	gp = grep --color=auto -n
	lg = log --graph  --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %C(white)(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --branches
	lgg = log --stat --decorate=short --pretty=format:'%C(yellow)%h %Cgreen%cr %Cblue%cn%Cred%d %Creset%s %C(cyan)%b'
	ls = ls-files
	df = diff
	cdf = diff --cached
	st = status --short --branch
	bc = !"_bc() { hub browse -- commit/$@ ;}; _bc"
	cm = commit -m
	cam = commit --amend -m
	can = commit --amend --no-edit
	cem = commit --allow-empty -m
	fpr = fetch origin +refs/pull/*:refs/remotes/pull/*
	ignore = !"gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
	delete-merged-branches = !git checkout master && git branch --merged | grep -v \\* | xargs -I % git branch -d %
	of = !"of() { git fetch origin $1; git branch $1 origin/$1; git checkout $1; }; of"
	openpr = "!f() { hub browse -- `git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1 | cut -f5 -d' ' | sed -e 's%#%pull/%'`; }; f"
	ploc = !git pull origin $(git cb)
	plom = !git checkout master && git pull origin master
	puoc = !git push -u origin $(git cb)
	pudc = !git push dtan4 $(git cb)
	pudm = !git checkout master && git push dtan4 master
	puom = !git checkout master && git push -u origin master
	phom = !git checkout master && git push heroku master
	pr = !hub browse -- compare/$(git symbolic-ref --short HEAD)'?'expand=1
[include]
	path = ~/.gitconfig.local
[help]
	autocorrect = 5
[core]
	editor = vim
	autocrlf = input
	quotepath = false
	excludesfile = ~/.gitignore
[ghq]
	root = ~/src
[ghq "https://github.com/"]
	vcs = git
[url "git@github.com:"]
	insteadOf = https://github.com/
[diff]
	renames = true
[github]
	user = dtan4
[commit]
	gpgsign = true
[pull]
	ff = only
