[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "dein/repos/github.com/Shougo/dein.vim"]
	path = dein/repos/github.com/Shougo/dein.vim
	url = https://github.com/Shougo/dein.vim.git
